@model List<Dominio.EntidadesDto.ProductoDto>

<div class="box box-primary ">
    <div class="box-header with-border">
        <i class="fa fa-shopping-bag"></i>
        <h3 class="box-title">Listado de productos</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div id="divGrupos" style="height: 315px; overflow-y: auto">
            <div class="row" style="margin-right: 0px">
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <h2 class="profile-username text-center">@item.Nombre</h2>

                                <p class="text-muted text-center">@item.Descripcion</p>
                                <br />
                                <a class="btn btn-primary btn-block" onclick="showDetallesProducto(@item.IdProducto)">
                                    <i class="fa fa-search"></i> Ver Detalles
                                </a>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>